:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --tertiary-font: #212121;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==============COMPONENTS============== */

body {
  font-family: var(--primary-font);
  font-size: 14px;
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ==================HEADER=============== */
.header {
  border-bottom: 1px solid #ececec;
}
.page-header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;

  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.dark-logo {
  color: #060606;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-link {
  font-family: var(--primary-font);
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tertiary-font);
}
.current {
  color: var(--accent-color);
}
.phone-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  vertical-align: middle;
}
.mail-icon {
  fill: var(--accent-color);
  margin-right: 10px;
  vertical-align: middle;
}
.contact-link {
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
/* ===============/HEADER================= */
/* ==============HERO==================== */
.hero {
  background: var(--secondary-bg-color);
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img.jpg");
  background-size: cover;
  background-color: #c4c4c4;
}
.hero-title {
  min-width: 696px;
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-transform: uppercase;

  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  text-align: center;
  margin-bottom: 30px;
}

.hero-button {
  min-width: 200px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  border-radius: 4px;
  border: #2196f3;
  display: block;
  margin: auto;
}
.hero-button:hover {
  background-color: #188ce8;
  color: #ffffff;
}

/* ==================/HERO================= */

/* ===================FEATURES============= */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-title {
  min-width: 270px;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-font);
  margin-bottom: 10px;
}
.features-list {
  display: flex;
}
.features-text {
  min-width: 270px;
  margin-right: 30px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* ===================/FEATURES================= */
/* ================ACTIVITY================= */
.activity {
  padding-bottom: 94px;
}
.activity-title {
  min-width: 362px;
  margin-bottom: 50px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--tertiary-font);
}
.activity-list {
  display: flex;
  justify-content: space-between;
}
/* ====================/ACTIVITY============== */
/* =======================TEAM================ */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  margin-bottom: 50px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--tertiary-font);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-list-content-wrapper {
  padding-bottom: 30px;
  padding-top: 30px;
}
.team-name {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  margin-bottom: 10px;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--tertiary-font);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-bg-color);
}

.social-list-icon {
  fill: #afb1b8;
}
/* ====================/TEAM==================== */
/* =============PORTFOLIO======================= */
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}
.button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  border: #2196f3;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  letter-spacing: 0.03em;

  color: var(--tertiary-font);
  background: #f5f4fa;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--primary-bg-color);
  background-color: #2196f3;
}
button.current {
  color: #ffffff;
  background: #2196f3;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--tertiary-font);
  border-bottom: 4px;
}
.work-item-content-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.work-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ================/PORTFOLIO================== */
/* ==================FOOTER==================== */
.footer-theme-dark {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.footer {
  background: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.light-logo {
  color: var(--primary-bg-color);
}
.footer-list {
  margin-top: 20px;
}
.footer-link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  opacity: 0.6;
}
.footer-address {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
}
.footer-item {
  font-family: var(--primary-font);
  margin-bottom: 9px;
  font-weight: 400;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0, 6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
/* ==========================/FOOTER===================== */
